/* Global styles */

/** Reset box sizing **/
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

/** Height convenience for app parents **/
html, body, #root, .App {
    height: 100%;
}

/** System font stack **/
body {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        "Helvetica Neue",
        sans-serif;
}

/** General colours **/
body {
    background-color: #43464E;
    color: #fff;
}